<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lut.dao.WriterDao">
	
	<resultMap type="Writer" id="WriterResult"> 
		<id column="writer_id" property="writer_id" /> 
		<result column="writer_name" property="writer_name" /> 
		<result column="picture" property="picture" /> 
		<result column="birthday" property="birthday" /> 
		<result column="nation" property="nation" /> 
		<result column="brief_introduction" property="brief_introduction" /> 
		<result column="hot_degree" property="hot_degree" /> 
		<result column="if_contract" property="if_contract" /> 
		<result column="identity_lable" property="identity_lable" /> 
	</resultMap> 
	
	<resultMap type="HotWriter" id="HotWriterResult"> 
		<result column="rec_day" property="rec_day" /> 
		<result column="write_id" property="write_id" /> 
		<result column="hot_book_id" property="hot_book_id" /> 
		<result column="hot_degree" property="hot_degree" /> 
		<association property="writer" resultMap="WriterResult"/>
	</resultMap> 
	<select id="selectWriterOrderByHotdegree" resultMap="HotWriterResult">
		select rec_day, writer_id, hot_degree, writer_name, picture, identity_lable
		from (
			select a.rec_day, a.writer_id, a.hot_degree, b.writer_name, b.picture, b.identity_lable
			from hot_writers a
			left join writers_info b on a.writer_id=b.writer_id
			order by a.hot_degree desc
			limit 5
		) a
		order by rec_day desc
	</select>
	
	<select id="selectContractWriter" resultMap="WriterResult">
		select writer_id, writer_name, picture, identity_lable
		from writers_info
		where if_contract=1
		order by hot_degree desc
		limit 5
	</select>
	
</mapper>
